#wrapper{
  padding:20px;
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 50px;

}

h3{
  display: inline-block;
}

.success-message{
  background-color: green;
  color: white;
  margin: 0px;
}

h1{
  display: inline-block;
  padding-right: 100px;
}

.user-posted-or-liked{
  font-weight: bold;
}

#new-secret-area{
  width: 650px;
}

textarea{
  font-size: 1em;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

input{
  font-size: 1em;
}

.nav-link{
  float: right;
}
