<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{book.title}}</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'my_app/css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
</head>

<body>
  <a href="{% url 'my_app:landing_page' %}">Home</a> |
  <a href="{% url 'my_app:logout' %}">Logout</a>
  <h3>{{book.title}}</h3>
  <a href="{% url 'my_app:add_to_my_favorites' book_id=book.id %}">Add to my favorites</a>
  <h4>Author: {{book.author.full_name}}</h4>
  <div class="box">
    <h4>Reviews:</h4>
    {% for review in reviews %}
    <p>Rating: {% for i in "x"|rjust:review.stars %}
    <img src="{% static 'my_app/img/star.png' %}" alt="star"> {% endfor %}</p>
    <p><a href="{% url 'my_app:user_page' user_id=review.user.id %}">{{review.user.alias}}</a> says: <i>{{review.content}}</i></p>
    <p>Posted on {{review.created_at}} {% if review.user.id == request.session.current_user %}</p>
    <a href="{% url 'my_app:delete_review' review_id=review.id %}">Delete this Review</a> {% endif %}
    {% endfor %}
  </div>
  <div class="box">
    <h4>Add a review:</h4>
    <form action="{% url 'my_app:add_review' book_id=book.id %}" method="post">
      {% csrf_token %}
      <textarea name="content" placeholder="Your review here..."></textarea>
      <br>
      <p>Rating:
        <select name="rating">
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select> stars.
      </p>
      <input class="button" type="submit" name="" value="Submit Review">
    </form>
  </div>
  <div class="box">
    <h4>Favorites:</h4>
    <ul>
    {% for user in book.users.all %}
      <li><a href="{% url 'my_app:user_page' user_id=user.id %}">{{user.alias}}</a></li>
    {% endfor %}
    </ul>
  </div>
</body>

</html>