body{
  background-color: cornflowerblue;
}
*{
  margin: 0px;
  padding: 0px;
}
#wrapper{
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
#nav-bar{
  width: 100%;
  border-bottom: 1px solid black;
  padding: 15px 10px 5px;
  position:fixed;
  top:0px;
  left: 0px;
  background: linear-gradient(white, white, lightgray);
}
.nav-bar-item{
  display: inline-block;
}
#logout-link{
  position: fixed;
  right: 20px;
}
#welcome-user{
  position: fixed;
  right: 150px;
}
#wall-content{
  padding-top: 100px;
  text-align: center;
}
#wall-content h3{
  color:white;
}
h3{
  margin-bottom: 10px;
}
h4{
  display: inline-block;
  vertical-align: top;
}
.delete-message-form{
  vertical-align: top;
  display: inline-block;
  float: right;
  margin-top: -22px;
  margin-right: -11px;
}
.delete-message-form input{
  background-color: red;
}
.wall-content-chunk{
  text-align: left;
  display: inline-block;
  width:80%;
  margin: 0px 100px;
  margin-bottom: 20px;
  max-width: 980px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.wall-content-chunk p{
  margin-top: 10px;
  margin-bottom: 20px;
}
.wall-content-chunk h4{
  margin-left: -14px;
}
.wall-content-chunk input{
  color: white;
  margin-top: 10px;
  padding: 4px 9px 6px;
  font-size: 1.1em;
  border: 0px solid black;
  border-radius: 4px;
  box-shadow: 4px 5px 4px rgba(0,0,0,0.4);
}
form{
  text-align: right;
}
textarea{
  display: block;
  width: 100%;
  font-size: 1em;
  border-radius: 4px;
}
#new-message-chunk textarea{
  min-height: 100px;
}
#new-message-chunk input{
  background-color: blue;
}
#new-message-chunk{
  background-color: rgba(0,0,0,0.27);
  border-radius: 10px;
  padding:27px;
}
.message-box{
  background-color: rgba(0,0,0,0.27);
  padding: 27px;
  border-radius: 10px;
}
.message{
  background-color: white;
  padding: 27px;
  border-radius: 10px;
  border: 1px solid black;
}
.comment-box{
  margin: 0px 25px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding:16px;
  margin-top: 17px;
}
.comment-box textarea{
  min-height: 50px;
}
.comment-box input{
  background-color: green;
}